app/nacho-flows/main/default/flows/Case_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Confirm which record type the Case will be assigned</description>
        <name>RecordType_Identifier</name>
        <label>RecordType Identifier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_URGENT_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HUSTLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Premier_Support</targetReference>
            </connector>
            <label>Is URGENT Company</label>
        </rules>
        <rules>
            <name>Is_SoSo_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedCompany</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SoSo</stringValue>
                </rightValue>
            </conditions>
            <label>Is SoSo Company</label>
        </rules>
    </decisions>
    <description>Flow triggered based on Case object CRUD operations</description>
    <environments>Default</environments>
    <interviewLabel>Case_Trigger_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Trigger_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>assign premier support</description>
        <name>Assign_Premier_Support</name>
        <label>Assign Premier Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Is_URGENT_Company</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType_Identifier</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
