app/nacho-flows/flows/Case_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Case Variable Assignment for Subflow inputs</description>
        <name>Assign_Triggering_Case_to_Case_Variable</name>
        <label>Assign Triggering Case to Case Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Premier_Scenario_Navigator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case Variable Assignment for Subflow inputs</description>
        <name>Copy_1_of_Assign_Triggering_Case_to_Case_Variable</name>
        <label>Copy 1 of Assign Triggering Case to Case Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case Variable Assignment for Subflow inputs</description>
        <name>Copy_2_of_Assign_Triggering_Case_to_Case_Variable</name>
        <label>Copy 2 of Assign Triggering Case to Case Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SoSo_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Confirm which record type the Case will be assigned</description>
        <name>RecordType_Identifier</name>
        <label>RecordType Identifier</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Triggering_Case_to_Case_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_URGENT_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedCompany</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Triggering_Case_to_Case_Variable</targetReference>
            </connector>
            <label>Is URGENT Company</label>
        </rules>
        <rules>
            <name>Is_SoSo_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedCompany</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SoSo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Triggering_Case_to_Case_Variable</targetReference>
            </connector>
            <label>Is SoSo Company</label>
        </rules>
    </decisions>
    <description>Flow triggered based on Case object CRUD operations</description>
    <environments>Default</environments>
    <interviewLabel>Case_Trigger_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Trigger_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get SoSo Record Type</description>
        <name>Get_SoSo_Record_Type</name>
        <label>Get SoSo Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SoSo_support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SoSo_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Stamdard Record Type</description>
        <name>Get_Standard_Record_Type</name>
        <label>Get Standard Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Standard_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assign SoSo Support</description>
        <name>Assign_SoSo_support</name>
        <label>Assign SoSo support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_SoSo_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>assign standard support</description>
        <name>Assign_Standard_Support</name>
        <label>Assign Standard Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Standard_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordType_Identifier</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>test</description>
        <name>Premier_Scenario_Navigator</name>
        <label>Premier Scenario Navigator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Case_Trigger_Premier_Support</flowName>
        <inputAssignments>
            <name>ThePremiumCase</name>
            <value>
                <elementReference>Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>test</description>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Cases under flow</description>
        <name>CasesUnderFlow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>test</description>
        <name>testtest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FlowRecord</objectType>
    </variables>
</Flow>
